{% extends "base.html" %}

{% block title %}Developers{% endblock %}

{% block header %}Developers{% endblock %}

{% block content %}
    <ul> {% for item in developers %}
         <li style="display: flex; justify-content: space-between; width: 300px;margin-left: 500px;">
            <span>{{ item.username }} - {{ item.first_name }} {{ item.last_name }}</span>
            <a href="CV/{{ item.id }}/">View CV</a>
        </li>
        <br><br>
     {% endfor %}
     </ul>

     <a href="/">
        <button style="margin-left: 620px; margin-top: 50px; padding: 18px 36px;">
            Home
        </button>
    </a>
{% endblock %}